{% extends 'index.html' %}

{% block title %}
    F.M.C - Add Part
{% endblock %}

{% block body %}

</br>
    <div class="container">
        <center><h1>F.M.C.</br>Add Part</h1></center>
    </div>
</br>

<center>
    <div class="form-outline w-75">

        <div class="form-group">
            <form method="POST" style = "font-weight: bold; font-size: 16px;">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">Add</button>
            </form>
        </br>
    </div>
</div>
</center>
{% endblock %}