{% extends 'index.html' %}

{% block title %}
    F.M.C. - Work Orders
{% endblock %}

{% block body %}

</br>

<div class="container">
    <center>
        <h1>Work Orders</h1>
    </center>
</div>
<!-- 
    ACTIVE TO REARRANGE ORDERS    
    
    <div class="container">
        <center>
            
            <a href="{% url 'work-orders-rearrange' %}"><strong>Rearrange Work Orders</strong></a>
        </center>
    </div>
-->
    <center>
        <h4>Sort By:</h4>
    </center>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'work-orders-pending' %}">Pending</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'work-orders-2c2r' %}">2C2R</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'work-orders-completed' %}">Completed</a>
        </li>
      </ul>
<!--
    <h1 class="ps-3">Today</h1>


<div class="list-group">
{% now "d" as current_day %}
    
    {% for work_orders in object_list %}


        {% if work_orders.date_added|date:'d' == current_day %}

            <center>

                <a href="{% url 'work-order-details' work_orders.pk %}" class="list-group-item list-group-item-action"><strong>{{ work_orders.address }} - Apt. {{ work_orders.apartment }} -

                    {% if work_orders.status == 'Pending' %}
                        <span href="#" class="badge text-bg-warning">{{ work_orders.status }}</span></strong>
                    {% elif work_orders.status == '2C2R' %}
                        <span class="badge text-bg-danger">{{ work_orders.status }}</span></strong>
                    {% else %}
                        <span class="badge text-bg-success">{{ work_orders.status }}</span></strong>
                    {% endif %}

                    <strong>- {{ work_orders.date_added }} </strong>

                    {% if work_orders.address_appliances.all %}
                       <p class="text-primary"><span class="badge bg-secondary">Part Added</span></p>
                    {% endif %}


                </a>
            </center>

        {% endif %}

    {% endfor %}

</div>
</br>
-->

    <h1 class="ps-3">All</h1>


<div class="list-group">

    {% for work_orders in object_list %}

            <center>
                <a href="{% url 'work-order-details' work_orders.pk %}" class="list-group-item list-group-item-action"><strong>{{ work_orders.address }} - Apt. {{ work_orders.apartment }} -

                    {% if work_orders.status == 'Pending' %}
                        <span class="badge text-bg-warning">{{ work_orders.status }}</span></strong>
                    {% elif work_orders.status == '2C2R' %}
                        <span class="badge text-bg-danger">{{ work_orders.status }}</span></strong>
                    {% else %}
                        <span class="badge text-bg-success">{{ work_orders.status }}</span></strong>
                    {% endif %}

                    <strong>- {{ work_orders.date_added }} </strong>

                    {% if work_orders.address_appliances.all %}
                       <p class="text-primary"><span class="badge bg-secondary">Part Added</span></p>
                    {% endif %}

                </a>

            </center>

    {% endfor %}
        </br>
</div>

{% endblock %}