{% extends 'index.html' %}

{% block title %}
    F.M.C. - Work Orders
{% endblock %}

{% block body %}

</br>
    <div class="container">
        <center>
            <h1>Work Orders</h1>
        </center>
    </div>

    <center>
        <h4>Sort By:</h4>
    </center>
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'work-orders-pending' %}">Pending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'work-orders-2c2r' %}">2C2R</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'work-orders-completed' %}">Completed</a>
            </li>
          </ul>
    </div>


<h1 class="ps-3">Pending</h1>
<div class="list-group">
    
    {% for work_orders in object_list %}

            {% if work_orders.status == 'Pending' %}

            <center>

                <a href="{% url 'work-order-details' work_orders.pk %}" class="list-group-item list-group-item-action"><strong>{{ work_orders.address }} - Apt. {{ work_orders.apartment }} -

                        <span href="#" class="badge text-bg-warning">{{ work_orders.status }}</span></strong>

                        <strong>- {{ work_orders.date_added }} </strong>

                    {% if work_orders.address_appliances.all %}
                       <p class="text-primary"><span class="badge bg-secondary">Part Added</span></p>
                    {% endif %}


                </a>
            </center>

        {% endif %}

    {% endfor %}

</div>
</br>
{% endblock %}